@import 'global';

p {
  padding-top: 3vh;
}

.aboutPara {
  text-align: center;

}

.img-filler {
  height: 10vh;
  overflow: hidden;

  img {
    position: relative;
    margin-top: -32%;
    opacity: 0.3;
  }
}

.contactForm {
  .contactFormButton {
    font-size: 20px;
  }
}
