@import 'global';

$background-imag-gradient-color: rgba(245, 245, 245, 0.5);
//copy this to top image in src/containers/blogPost.tsx:23
//linear-gradient(rgba(x, y, z, a), rgba(x, y, z, a))

.background-img {
  padding: 8vh 0 10vh;
  min-height: 30vh;

  h1 {
    color: $primary-font-color;
    padding-left: 5vw;
  }

  h3 {
    color: $secondary-font-color;
    padding-left: 5vw;
  }
}

.back-button {
  color: $secondary-font-color;
}

.blog-post {
  align-content: center;

  img {
    justify-content: center;
    min-height: 100%;
    width: 100%;
  }

  h1 {
    color: $primary-font-color;
  }

  h3 {
    color: $secondary-font-color;
  }

  p {
    color: $primary-font-color;
  }

  div {
    pre {
      background-color: rgba(245, 242, 240, 0.70);
    }
  }
}

.blogPostCardContainer {
  .blogPostCard {
    position: relative;
    overflow-y: hidden;

    .blogPostCardImg {
      position: absolute;
      object-fit: cover;
      height: 100%;

      picture {
        opacity: 0.3;
      }
    }

    .blogPostCardContent {
      position: relative;

      h1 {
        color: $primary-font-color;
        font-size: 18pt;
      }

      p {
        color: $primary-font-color;
      }

      .blogDate {
        color: $secondary-font-color;
      }
    }
  }

  padding-bottom: 2vh;
}

table {
  align-self: center;
  border-collapse: collapse;
  overflow-y: visible;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  thead tr {
    background-color: #5082d4;
    color: #ffffff;
    text-align: left;

    th {
      padding: 0 5px 0 0;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #dddddd;
    }

    tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }
  }

  td {
    padding: 0 3px;
  }
}
