$primary-font-color: #454545;
$secondary-font-color: #828282;
$primary-background-color: whitesmoke;
$secondary-background-color: #9af573;
$blog-title-color: #c4c4c4;
$title-color: rgb(14, 95, 155);
$subtitle-color: rgba(14, 90, 138, 0.71);
$link-color: $subtitle-color;
$link-color-visited: #420064;
$link-color-hover: $title-color;

$header-footer-height: 8vh;
$content-height: 100vh - 2 * $header-footer-height;

body,
html {
    background: $primary-background-color;
    #___gatsby {
        height: inherit;
        #gatsby-focus-wrapper {
            height: inherit;
        }
    }
}

a {
    color: $link-color;
    &:hover {
        color: $link-color-hover;
    }
    &:visited {
        color: $link-color-visited;
    }
}
