@import 'global';

.subtitle {
  color: $subtitle-color;
  font-size: 8vh;
}

.cardContainer {
  .card {
    width: 100%;
    min-height: 50vh;
    max-height:70vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
  }
}

h4 {
  padding-top: 2vh;
}

.container {
  padding: 2px 16px 15px;
}
